*{
	padding: 0px;
	margin: 0px;
	text-decoration: ;
	list-style: none;
	font-family: sans-serif;

}

.navbar{
	width: 96%;
	position: fixed;
	background-color: chartreuse;/**************************************/
	padding: 8px 0px;

}

.bis1{


}

.navbar:hover{
background-color: yellow;
	transition: 1s;
	color: white;
	
}
.navbar .max-width{

	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}

.navbar.max-width.logo:hover{
color: red;
	transition: 0.5s;

}

.logo a{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	position: left;
	display: inline-block;
}
.logo span{
	color: #000;
}


.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
}
.menu li a{
	color: black;
	font-size: 20px;
	font-weight: 100;
	margin-left: 25px;
	transition: color 1s;
}

.sous{
	display: none;
	position: absolute;

}

..menu li:hover .sous{

	display: block;
}

.sous li{
	width: 100%;
	text-align: center;
	background-color: #e74c3c;
	border: 12px solid white;

}


.menu li a:hover{
	color: white;
	}


.jeu{
	background-color: none;
	color:black;
	text-align: left;
	display: inline-block;


}


.jeu:hover{
	background-color: red;
	color:black;
	transition: 1s;


}

.jus{
	background-color: none;
	color: white;

}

.jus:hover{
	background-color: black;
	color: lawngreen;

}


.Pari1{
	font-size: 10px;
	transition: 1s;

}

.Pari1:hover{
	font-size: 10px;
	transition: 2s;
	background-color: yellow;

}

.Pari2{
	font-size: 10px;
	transition: 2s;

}



.Pari3{
	font-size: 10px;
	transition: 3s;

}

.Pari3:hover{
	font-size: 10px;
	transition: 2s;
	background-color: red;
}


/****************************************************************/
.home{
	
	
	    position: static;
	display: block;
	text-align: center;

	    padding-top: 5%;
	        background-color: black;
	        position: initial;
	        width: 100%;
	        color: wheat;
}



.table{

	background-color: black;
    color: white;
    border: double;
    border-color: aquamarine;
}





.video{
    width: 503px;
    height: 502px;


}


.sct{

	background-color: chartreuse;/****************************************************************/
}

.home .max-width{
	

	color: white;
	padding-top:100px;
	padding-bottom: 256px;
    padding-inline-start : 20px;
	font-size: 1px;
	object-fit: cover;
	    background-position: left;
    text-align: left;
        width: 53%;
	background-repeat:no-repeat;
	    background-size: 665px;
	   position: initial;
    height: 50%;
    margin-left: 18px;
}


.about .max-width: {

	    width: 1000px;
}

.home .home-content .text-1{
	font-size: 23px;
	font-weight: 59;
	color: red;
	font-family: serif;
	text-align-last: center;
	padding-top: 89px;
}

.home .home-content .text-1:hover{
	
	color: green;
	font-family: ravie;
	transition: 4s;
	transition-duration: 5s;

}



.home .home-content .text-2{
	color: chartreuse;
	font-size: 60px;
	font-weight: 500;
	font-family: magneto;
	}

.home .home-content .text-2:hover{

		transition: 1s;
		color: red;
		font-family: harrigton;
}

.home .home-content .text-3{
	font-size: 50px;
	font-weight: 700;
	color: yellow;
	font-family: magneto;
}

.home .home-content .text-3:hover{
	transition: 1s;
	color:green;
	font-family: chiller;
}
.home .home-content .text-3 span{
	color: black;
}

.home .home-content .text-3 span:hover{
	transition: 1s;
	color: yellow;



}

.home .home-content .button-one{
	display: inline-block;
	background-color: chartreuse;/**********************************/
	font-size: 20px;
	font-weight: 200;
	color: white;
	border: 2px solid yellow;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
}
.home .home-content .button-one:hover{
	background: none;
	color: black;
	background-color: orange
}


.span{
	border:"1" cellspacing:"2";
	border-color: black;
	height: 75%;
	width: 75%;




}


/********************************************************************************/
.about{
	padding: 50px 150px;
	background-color: chartreuse;/**********/
}




.fin{
	height: 100px;

	background-color: black;
	color: white;
	
	text-align-last: bottom;
}

.fin:hover{
	color: black;
	background-color: lawngreen;
	transition: 1s;
}



